body {
    font-family: "Arial", system-ui;
    text-align: center;
    margin-top: 50px;
    background-color: #14171A;
    color: white;
}
#login-section, #register-section {
    background-color: #1c1f23;
    padding: 20px;
    border-radius: 10px;
    width: 350px;
    margin: -400px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

#login-section h2, #register-section h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #00aaf9;
}

#login-section input, #register-section input {
    width: 80%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #2a2e33;
    border-radius: 5px;
    background-color: #2a2e33;
    color: white;
    font-size: 14px;
    outline: none;
}

#login-section input:focus, #register-section input:focus {
    border-color: #00aaf9;
    background-color: #25282d;
}

#login-section button, #register-section button {
    background-color: #00aaf9;
    color: white;
    font-size: 16px;
    font-family: "Arial", sans-serif;
    padding: 10px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    width: 100%;
}

#login-section button:hover, #register-section button:hover {
    background-color: #008ed6;
    transform: scale(1.05);
}

#login-section button:active, #register-section button:active {
    transform: scale(1);
}

#login-section p, #register-section p {
    color: #cccccc;
    font-size: 14px;
    margin-top: 15px;
}

#login-section a, #register-section a {
    color: #00aaf9;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

#login-section a:hover, #register-section a:hover {
    color: #008ed6;
}

.sign-out {
    background-color: #ff3b3b;
    color: white;

    font-size: 16px;
    border-radius: 9999px;
    width: 15%;
    cursor: pointer;
    font-family: "Bangers", system-ui;
    border: none;
    transition: background-color 0.3s;
}

.sign-out:hover {
    background-color: #e60000;
}



.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    background-color: #26292c;
    box-shadow: 0 0 20px rgba(198, 197, 197, 0.5);
}

img {
    height: 100px;
    width: 100px;
}

.main-icon {
    height: 150px;
    width: 150px;
}

input, button {
    padding: 10px;
    font-size: 16px;
    border-radius: 9999px;
    border: none;
    margin-bottom: 20px;
}

input {
    width: 75%;
    background-color: #1F2C36;
    color: white;
    outline: none;
    border: 2px solid #1DA1F2;
    margin-right: 10px;
    font-family: "Bangers", system-ui;
    box-shadow: 0 0 5px #1DA1F2;
}

button {
    background-color: #1DA1F2;
    color: white;
    cursor: pointer;
    outline: none;
    width: 60%;
    transition: background-color 0.3s;
    font-size: 20px;
    font-family: "Bangers", system-ui;
    
}

button:hover {
    background-color: #0C90D9;
}

#weather-info {
    margin-top: 20px;
    font-size: 18px;
}

#city-name, #date-time, #temperature, #weather-description {
    margin-bottom: 10px;
}

.advice-button {
    display: inline;
    background-color: #ff9f1a;
    color: white;
    border-radius: 50px;
    padding: 10px 20px;
    font-size: 20px;
    width: 60%;
    cursor: pointer;
    font-family: "Bangers", system-ui;
}
.advice-button:hover {
    background-color: #ff7f00;
}

#advice-section {
    position: fixed;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    width: 300px;
    padding: 40px;
    background-color: #ff9f1a;
    color: white;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    text-align: left;
    display: none;
}

#advice-section h3 {
    font-family: "Knewave", sans-serif;
    font-size: 24px;
    margin-bottom: 10px;
    margin-left: 25%;
}

#advice-section p {
    font-size: 25px;
    font-family: "Arial", sans-serif;
 
}
.another-advice-button {
    background-color: #1DA1F2;
    color: white;
    border: none;
    width: 50%;
    padding: 10px 15px;
    border-radius: 20px;
    font-family: "Bangers", system-ui;
    margin-top: 10px;
    margin-left: 25%;
    cursor: pointer;
    transition: background-color 0.3s;
}

.another-advice-button:hover {
    background-color: #0C90D9;
}
.back-button {
    background-color: #ff3b3b;
    color: white;
    border: none;
    width: 50%;
    padding: 10px 15px;
    border-radius: 20px;
    font-family: "Bangers", system-ui;
    margin-top: 10px;
    margin-left: 25%;
    cursor: pointer;
    transition: background-color 0.3s;
}

.back-button:hover {
    background-color: #e60000;
}

